* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.app-wrapper {
  background-color: #12343b;
  min-width: 450px;
  max-height: 650px;
  min-height: 650px;
  text-align: center;
  padding: 30px;
  padding-top: 7px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 6px 6px 60px #000;
  margin-bottom: 10px;

}

.header h1 {
  color: #fff;
  text-align: 260px;
  margin: 30px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ------Thanh Scroll------- */
.div_form_scroll {
  width: 395px;
  height: 410px;
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#da1b60));
}

::-webkit-scrollbar-track {
  background-color: #12343b;
}

/* ------------ */

.form_w395 {
  width: 395px;
}

.task-input {
  width: 300px;
  padding: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100px;
  background-color: #ccc !important;
  border-radius: 10px;
}

.task-input .css-batk84-MuiInputBase-root-MuiFilledInput-root::after {
  border-bottom: none;
}

.button-add {
  width: 80px;
  padding: 17px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #128f10e8;
  cursor: pointer;
  margin-left: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ccc;
}

.list-item {
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
  height: 100%;
  justify-content: space-around;
  border: 2px solid #c89666;
  border-radius: 10px;
  margin-right: 10px;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 25px;
  border-radius: 50%;
}

.button-complete {
  color: #ccc;
  margin-right: 10px;
}

.button-complete:active {
  color: green
}

.button-edit {
  color: #e2d029;
  margin-right: 10px;
}

.button-edit:focus {
  cursor: pointer;
}

.button-delete {
  color: red;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: red;
  opacity: 0.7;
}

.list {
  width: 220px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  word-wrap: break-word;
}

/* .complete {
  color: green;
} */

input:focus,
button:focus {
  outline: none;
}